html {
  font-family: "Noto Serif", serif;
}

.contact {
  background-color: #f2f2f2;
}

.container {
  border-bottom: 1px solid #6e8c62;
  padding-bottom: 2rem;
}

header, footer {
  background-color: #70ad55;
  color: #fff;
}

input, option {
  border-color: #6e8c62;
}

[type="radio"] + label {
  border-color: #6e8c62;
}

[type="checkbox"] + label {
  border-color: #6e8c62;
  display: block;
  padding-bottom: .25rem;
}

.txtbx {
  padding-bottom: .5rem;
}
p {
  margin: 0;
  display: inline-block;
}

.opt {
  color: #70ad55;
}

label {
  display: block
}

h3 {
  padding-top: 1rem;
}
